@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.font-1 {
    font-size: 1.5rem;
}

.font-2 {
    font-size: 1.75rem;
}

.font-3 {
    font-size: 2rem;
}

.font-4 {
    font-size: 3rem;
}

.px-144 {
    padding: 0 144px;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 38px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > a {
    text-decoration: none;
    color: black;
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
}

nav > button {
    background: none;
    cursor: pointer;
    padding: 17px 24px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
}

.hero {
    padding: 26px 221px 45px;
    text-align: center;
    background: url("../assets/Hero-bg.png");
}

.text {
    text-align: center;
    margin: 32px 0;
    font-family: "Azeret Mono", monospace;
}

.text > h1 {
    margin-bottom: 24px;
    font-weight: 800;
}

.text > p {
    font-weight: 400;
}

.hero > a {
    display: inline-block;
    text-decoration: none;
    background: rgb(13, 19, 33);
    color: white;
    cursor: pointer;
    padding: 21px 24px;
    border-radius: 8px;
    font-family: 'Azeret Mono', monospace;
    font-weight: 600;
}

.webdev {
    height: 1393px;
    margin: 74px 148px 45px;
    background: rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration {
    margin: 45px 148px 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.video > iframe {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

.target {
    height: 1437px;
    margin: 100px 150px 49px;
    background-color: rgba(13, 19, 33, 0.1);
}

.support {
    margin: 0px 150px 80px;
    padding: 64px 48px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url('../assets/handshake.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    color: white;
}

.support > h1 {
    font-weight: 700;
    margin-bottom: 16px;
}

.support > p {
    font-weight: 400;
    margin-bottom: 24px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggest {
    border: none;
    margin-right: 10px;
    padding-left: 20px;
    width: 548px;
    height: 57px;
    border-radius: 8px;
}

.suggest::-webkit-input-placeholder {
    font-family: "Azeret Mono", monospace;
}

.submit {
    border: none;
    background: white;
    font-size: 1.25rem;
    width: 120px;
    height: 57px;
    border-radius: 8px;
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
}

footer {
    padding: 32px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 19, 33, 0.03);
}

footer > h1 {
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
    font-size: 0.8rem;
}

footer > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > ul > li {
    padding-left: 24px;
    list-style: none;
}